.banner {
  color: white;
  margin-top: 10rem;
  font-size: 3rem;
}
.container {
  background-color: blanchedalmond;
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  height: auto;
  padding: 2rem;
}
.div-answer-btn {
  display: grid;
  width: fit-content;
  margin: 1rem;
  content: hidden;
}
.answer-btn {
  margin: 1rem;
  font-size: 2rem;
  border-radius: 2.5rem;
  padding: 1rem;
}
.h1-quiz {
  font-size: 2.5rem;
  display: inline-block;
}
.quiz-questions {
  font-size: 3rem;
}

 .answer-btn:hover,
 .btn-before:hover,
 .btn-after:hover {
   border-color: blue;
 }

 .answer-btn.correct {
   background-color: green;
 }
 .div-control {
   display: flex;
   justify-content: center;
   align-items: center;
 }
.btn-before,
.btn-after {
  font-size: 3rem;
 margin: 0.5rem;
   padding: 1rem;
 }
 .answer-btn.wrong {
   background-color: red;
 }
// .answer-btn.correct {
//   background-color: green;
// }
// .div-control {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.btn-before,
.btn-after {
  font-size: 3rem;
  margin: 0.5rem;
  padding: 1rem;
}
// .answer-btn.wrong {
//   background-color: red;
// }
.answer-btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: pink;
  color: white;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 5rem;
  border: 2px solid white;
  transition: all 0.3s;
  position: relative;
  transition: background 1s;
}
.answer.btn:hover {
  background: salmon;
}

.disappear {
  display: none;
}
